body {
  background-color: #dae4ee;
}

.home {
  height: 100vh;
  background-image: url('../imgs/bgm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.intro{
    color: whitesmoke;
    margin: 5% 15%;
    text-align: justify;
    font-size: 20px;
    font-weight: 200px;
}

#name{
    font-size: 60px;
    font-weight: 500;
}